@media screen and (max-width:900px) {
    nav{
        flex-direction: column;
    }
    
    .logo{
        margin-top: 5px;
        justify-content: center;
        height: 48px;
    }

    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        margin-bottom: 12px;
    }
    .cards{
        overflow: scroll;
    }

    .slider{
        height: 40vh;
    }

    .flex-all-center{
        flex-direction: column;
    }

    footer{
        height: 11vh;
    }
    .card-container{
        height: 320px;
    }

    .card-items a img {
        height: 95px;
    }

    #width-flask{
        padding: 0px 32px;
    }

    #mobile-height-head-card{
        padding: 8px 0px;
    }

    .bestincat-mobile{
        width: 160px;
        padding: 0px 0px 0px 5px;
    }

}

/* @media screen and (min-width:1097px){
    body{
        background-color: aqua;
    }

    .slider{
        height: 50vh;
    }
} */