@media screen and (max-width:900px) {
    nav{
        flex-direction: column;
    }
    
    .logo{
        margin-top: 5px;
        justify-content: center;
        height: 48px;
    }

    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        margin-bottom: 12px;
    }
    .cards{
        overflow: scroll;
    }

    .slider{
        height: 40vh;
    }

}

/* @media screen and (min-width:1097px){
    body{
        background-color: aqua;
    }

    .slider{
        height: 50vh;
    }
} */